<%= form_for(@attendance) do |f| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% @attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :check_in_time %><br>
    <%= f.time_select :check_in_time %>
  </div>
  <div class="field">
    <%= f.label :check_out_time %><br>
    <%= f.time_select :check_out_time %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :work_place %><br>
    <%= f.text_field :work_place %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
